* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7; /*Cor selecionada para definir o fundo*/
  }
  
  .game {
    border-bottom: 5px solid; /*Foi selecionado 5px para definir a largura da barra que faz o chão*/
    height: 500px; /*Define o tamnho da borda da tela do jogo*/
    width: 1000px;
    position: relative;
    overflow: hidden;
  }
  
  .score {
    position: absolute;
    top: 30px;
    left: 0;
    font-size: x-large; /*Fonte da letra que está a pontuação*/
  }
  
  .dino {
    position: absolute;
    bottom: 0;
    background-image: url(img/dino.gif);
    width: 280px;
    height: 130px;
    background-size: 280px;
    background-repeat: no-repeat;
    transform: scaleX(-1); /*Comando para inverter o GIF e deixar no lado certo*/
  }
  
  .cacto {
    position: absolute;
    bottom: 0;
    background-image: url(img/cacto.png);
    width: 35px;
    height: 70px;
    background-size: 35px;
    background-repeat: no-repeat; /*O cacto some quando passa pela tela*/
    animation: cacto 1.2s linear infinite; /*Velocidade do gerador de cactos na dela*/
  }
  
  @keyframes cacto {
    0% {
      right: -20px; /*Direção de onde vem o cacto*/
    }
    100% {
      right: 850px; /*Define para que lado vai o cacto*/
    }
  }
  
  .jump {
    animation: jump 1s linear;/* Velocidade que é executado o pulo*/
  }
  
  @keyframes jump {
    0% {
      bottom: 0;
    }
  
    30% {
      bottom: 80px;
    }
  
    50% {
      bottom: 100px;
    }
  
    80% {
      bottom: 80px;
    }
  
    100% {
      bottom: 0;
    }
  }